---
// src/components/HeroSection.astro
---

<section class="hero-section">
  <div class="grid_1">
    <div class="hero-billeder">
      <img
        class="billede1"
        src="/img/billede1.svg"
        alt="Billede af glad hjemløs person"
      />
      <img
        class="billede2"
        src="/img/billede2.svg"
        alt="Billede af en mand i ny bolig"
      />
    </div>

    <div class="hero-tekst">
      <h2>I 2024 flyttede Bo ind i sit nye hjem...</h2>
      <h3>
        ...og med din hjælp, kan WeShelter hjælpe endnu flere udsatte borgere
        med at få et tryggere liv.
      </h3>
      <h4>Se hvordan du kan støtte WeShelter herunder</h4>
    </div>
  </div>
</section>
