---
// src/components/Ikonsection.astro
// Props
const { number, text, image } = Astro.props;
---

<section class="grid_1-1-1">
  <div class="statistik-card">
    <div class="ikon"><img src={image} alt="bowle Ikon" /></div>
    <p class="nummer">{number}</p>
    <p class="tekst">{text}</p>
  </div>
</section>

<style>
  @media (max-width: 768px) {
    .grid_1-1-1 {
      display: grid;
      grid-template-columns: 1fr;
    }
    .statistik-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 90px 20px 40px 20px;
    }

    .nummer {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 4px 0;
    }
  }

  @media (min-width: 769px) {
    .statistik-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .ikon {
      margin-bottom: 8px;
    }
    .nummer {
      font-size: 2rem;
      font-weight: bold;
      margin: 4px 0;
    }
    .tekst {
      font-size: 1rem;
      color: #333;
    }
  }
</style>
