---
// src/components/Ikonsection.astro
// Props
const { number, text, image } = Astro.props;
---

<section class="grid_1-1-1">
  <div class="statistik-card">
    <div class="ikon"></div>
    <p class="nummer">{number}</p>
    <p class="tekst">{text}</p>
  </div>
</section>

<style>
  .statistik-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ikon {
    background-image: url(`${image}`);
    width: 80px;
    aspect-ratio: 1;
    margin-bottom: 8px;
    background-size: 100%;
    background-position: center;
    transition: 0.5s;
  }

  .ikon:hover {
    background-size: 110%;
  }

  .nummer {
    font-size: 2rem;
    font-weight: bold;
    margin: 4px 0;
  }

  .tekst {
    font-size: 1rem;
    color: #333;
  }
</style>
