<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="stylesheet" href="/src/css/generel.css" />
    <link rel="stylesheet" href="/src/css/navigation.css" />
    <link rel="stylesheet" href="/src/css/herosection.css" />
    <link rel="stylesheet" href="/src/css/betalingsformular.css" />
    <meta name="generator" content={Astro.generator} />
    <title>WeShelter</title>
  </head>
  <body>
    <header>
      <slot />
    </header>

    <main>
      <slot name="hero" />
    </main>

    <footer>
      <slot name="footer" />
    </footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
